<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MBTA Stop Finder</title>
  </head>
  <body>
    <h1>MBTA Stop Finder</h1>
    <form method="POST" name="MBTA Stop Finder">
      {% if error %}
      <p style="color:red">Unable to find this place.</p>
      {% endif %}
      <p>
        Please enter your location (Ex. "Place, Boston, MA"):
      </p>
      <p>
        <input type="text" size="50" name="Place, Boston, MA" />
      </p>
      <p>
        <input type="submit" value="Find the nearest stop!" />
      </p>
    </form>
  </body>
</html>